.component-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.card-container {
    padding: 0 0 16px 0;
}

.header-container {
    background-color: orange; 
    height: 30px; 
    align-items: center;
}

.content-container {
    padding: 20px 100px;
}